[user]
	name = handshou
	email = handshou@users.noreply.github.com
	signingkey = /Users/h/.ssh/id_ed25519.pub
[github]
	user = handshou
[credential]
	helper = osxkeychain
[gpg]
	format = ssh
[commit]
	gpgsign = true
[alias]
	clone-for-worktrees = "!sh $HOME/scripts/git-clone-bare-for-worktrees.sh"
	setup-work = "!sh $HOME/scripts/git-setup-work.sh"
